<button (click)="onReset($event)">Reset</button>
<div>
<wj-flex-grid  #orderDetailsPortfolioGrid [headersVisibility]="1" [itemsSource]="source">
   <wj-flex-grid-column [width]="35"
                                     [minWidth]="printing ? 0 : 35"
                                     [isReadOnly]="true"
                                     [align]="'center'"
                                     *ngIf="!printing"
                                     [allowDragging]="false"
                                     [allowResizing]="false">
                    <ng-template wjFlexGridCellTemplate
                                 [cellType]="'ColumnHeader'"
                                 let-cell="cell">
                        <div class="text-center">
                            <input type="checkbox"
                                   (click)="toggleAllAccountSelection($event.target.checked)"
                                   [checked]="selectAllAssets">
                        </div>
                    </ng-template>
                    <ng-template wjFlexGridCellTemplate
                                 [cellType]="'Cell'"
                                 let-cell="cell">
                        <div>
                            <input type="checkbox"
                                   (change)="toggleSingleAccountSelection(cell.item, $event.target.checked)"
                                   [checked]="cell.item.isSelected"
                                   [disabled]="cell.item.disableSelection">
                        </div>
                    </ng-template>
                </wj-flex-grid-column>
  <wj-flex-grid-filter #filter (filterApplied)="onFilterApplied(filter, $event)"></wj-flex-grid-filter>
  <wj-flex-grid-column header="Country" binding="country" isReadOnly="true"></wj-flex-grid-column>
  <wj-flex-grid-column header="Date" binding="date" isReadOnly="true"></wj-flex-grid-column>
  <wj-flex-grid-column header="Amount" binding="amount" ></wj-flex-grid-column>
</wj-flex-grid>
</div>
<!-- <br><br> -->
<!-- <wj-collection-view-navigator [cv]="source" [byPage]="true"></wj-collection-view-navigator> -->
<!-- <br><br> -->
<!-- <button (click)="onClick($event)">Get data</button> -->
<b>Secnario 1</b>
<li>Edit all the rows in the amount column i.e 7 cells</li>
<li>And click on filter of amount column, unselect some of them and click apply</li>
<li>Now select one checkbox and click on Reset</li>
<li><b>Issue:</b> Entire row disappers</li>

<b>Secnario 2</b>
<li>Click on filter of amount column, unselect some of them and click apply</li>
<li>Start editing amount cells</li>
<li><b>Issue:</b> Entire edited row disappers</li>

<b>Secnario 3</b>
<li>Edit all the rows in the amount column i.e 7 cells</li>
<li>And click on filter of amount column, unselect some of them and click apply</li>
<li>Now check select All checkbox and click on Reset</li>
<li><b>Issue:</b> some row disappers, some stay</li>

