<button (click)="onReset($event)">Reset</button>
<div>
<wj-flex-grid  #orderDetailsPortfolioGrid [headersVisibility]="1" [itemsSource]="source">
   <wj-flex-grid-column [width]="35"
                                     [minWidth]="printing ? 0 : 35"
                                     [isReadOnly]="true"
                                     [align]="'center'"
                                     *ngIf="!printing"
                                     [allowDragging]="false"
                                     [allowResizing]="false">
                    <ng-template wjFlexGridCellTemplate
                                 [cellType]="'ColumnHeader'"
                                 let-cell="cell">
                        <div class="text-center">
                            <input type="checkbox"
                                   (click)="toggleAllAccountSelection($event.target.checked)"
                                   [checked]="selectAllAssets">
                        </div>
                    </ng-template>
                    <ng-template wjFlexGridCellTemplate
                                 [cellType]="'Cell'"
                                 let-cell="cell">
                        <div>
                            <input type="checkbox"
                                   (change)="toggleSingleAccountSelection(cell.item, $event.target.checked)"
                                   [checked]="cell.item.isSelected"
                                   [disabled]="cell.item.disableSelection">
                        </div>
                    </ng-template>
                </wj-flex-grid-column>
  <wj-flex-grid-filter #filter (filterApplied)="onFilterApplied(filter, $event)"></wj-flex-grid-filter>
  <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
  <wj-flex-grid-column header="Date" binding="date"></wj-flex-grid-column>
  <wj-flex-grid-column header="Amount" binding="amount"></wj-flex-grid-column>
</wj-flex-grid>
</div>
<!-- <br><br> -->
<!-- <wj-collection-view-navigator [cv]="source" [byPage]="true"></wj-collection-view-navigator> -->
<!-- <br><br> -->
<!-- <button (click)="onClick($event)">Get data</button> -->
Edit all the cells in the amount column<br><br>
And filter out using filter on Amount column<br><br>
Check the two check boxes and click on reset<br><br>
Now click on column filter and clear the filter <br><br>
The issue is even the rows which are reset are getting back to old data